<div>
  <p>
    <a routerLink="/database">Return</a>
  </p>
</div>
<div class="container-fluid">
  <p>
    <a routerLink="/display-branch">Display all branches.</a>
  </p>
  <p>
    <a routerLink="/display-fault">Display all atm faults.</a>
  </p>
  <p>
    <a routerLink="/display-contact">Display all vendor personnel.</a>
  </p>
  <p>
    <a routerLink="/display-region">Display all regions.</a>
  </p>
  <p>
    <a routerLink="/display-terminal">Display all terminals.</a>
  </p>
  <p>
    <a routerLink="/display-vendor">Display all vendors.</a>
  </p>
</div>
