<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Backend Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <p>
            <a routerLink="/display-branch">Display all branches.</a>
        </p>
        <p>
            <a routerLink="/display-contact">Display all vendor personnel.</a>
        </p>
        <p>
            <a routerLink="/display-region">Display all regions.</a>
        </p>
        <p>
            <a routerLink="/display-terminal">Display all terminals.</a>
        </p>
        <p>
            <a routerLink="/display-vendor">Display all vendors.</a>
        </p>
    </div>
</body>

</html>