<div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-brand">
      <h3>ATM Issue Logger App</h3>
    </div>
    <div class="navbar-nav">
      <div>
        <a *ngIf="!isLoggedIn()" routerLink="atm" class="nav-link">Home</a>
      </div>
    </div>
    <div class="navbar-nav navbar-collapse justify-content-end">
      <div>
        <a
          (click)="login()"
          *ngIf="!isLoggedIn()"
          routerLink="/issue-log"
          class="nav-link"
          >Login</a
        >
      </div>
      <div>
        <a
          (click)="logout()"
          *ngIf="isLoggedIn()"
          routerLink="/logout"
          class="nav-link"
          >Logout</a
        >
      </div>
    </div>
  </nav>
</div>
