<div class="card">
  <div class="card-header">
    <h3>Update Call Information</h3>
  </div>
  <div class="card-body">
    <!-- Loading spinner -->
    <div *ngIf="loading" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <!-- Error message -->
    <div *ngIf="error" class="alert alert-danger">
      {{ error }}
    </div>

    <!-- Success message -->
    <div *ngIf="success" class="alert alert-success">
      {{ success }}
    </div>

    <!-- Update form -->
    <form [formGroup]="callForm" (ngSubmit)="onSubmit()" *ngIf="!loading">
      <div class="mb-3">
        <label for="date">Date Completed:</label>
        <input type="date" id="date" formControlName="dateCompleted" />
        <div
          *ngIf="callForm.get('dateCompleted')?.errors?.['required'] && callForm.get('dateCompleted')?.touched"
        >
          The date completed is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="statusId" class="form-label">Status of Call</label>
        <select class="form-select" id="statusId" formControlName="statusId">
          <option [ngValue]="null" selected disabled></option>
          <option
            *ngFor="let statusObj of statusObjs"
            [ngValue]="statusObj.statusId"
          >
            {{ statusObj.statusDesc }}
          </option>
        </select>

        <ng-container
          *ngIf="
            callForm.get('statusId')?.invalid &&
            (callForm.get('statusId')?.dirty ||
              callForm.get('statusId')?.touched)
          "
          class="alert alert-danger mt-2"
        >
          <small *ngIf="callForm.get('statusId')?.errors?.['required']">
            The current status is required.
          </small>
        </ng-container>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!callForm.valid || loading"
      >
        Update Call
      </button>
    </form>
  </div>
</div>
