/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/bootstrap/dist/css/bootstrap.min.css"*/

.invalid-input{
    color: red;
  }
  
small{
    color: red;
    font-weight: bold;
}

textarea {
    resize: both;  /* Allow both horizontal and vertical resizing */
    white-space: normal;  /* Allow text to wrap */
    overflow-x: hidden;  /* Hide horizontal scrollbar */
    overflow-y: auto;  /* Show vertical scrollbar when needed */
    min-width: 800px;  /* Adjust as needed */
    max-width: 100%;
    min-height: 4em;  /* Use min-height instead of height */
    vertical-align: middle;
    line-height: 1.5;  /* Improve readability */
    padding: 5px;  /* Add some padding for better appearance */
}

#display {
    display: flex; 
    justify-content: space-between
}

input.ng-invalid.ng-touched{
    border: red 2px solid;
  }
  
input.ng-pending{
    border: yellow 2px solid;
  }
  