<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Email an ATM Issue</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <form
        name="emailForm"
        [formGroup]="emailForm"
        (ngSubmit)="sendEmailMessage()"
      >
        <div *ngIf="isLoading">
          <p>This page is still loading...</p>
        </div>
        <div *ngIf="emailIssue && !isLoading">
          <div>
            <div class="from">
              <label for="fromEmail"><b>From: </b></label>
              <input
                id="fromEmail"
                formControlName="fromEmail"
                placeholder="Enter sender email"
                title="From Email"
                type="text"
              />
              <small
                *ngIf="
                  emailForm.get('fromEmail')?.invalid &&
                  emailForm.get('fromEmail')?.touched
                "
                >*The Sender's email is required.</small
              >
            </div>
            <br />
            <div class="to">
              <label for="toEmail"><b>To:</b></label>
              <textarea
                id="toEmail"
                formControlName="toEmail"
                placeholder="Enter recipient email"
                title="To Email"
                rows="2"
              ></textarea>
              <small
                *ngIf="
                  emailForm.get('toEmail')?.invalid &&
                  emailForm.get('toEmail')?.touched
                "
                >*The Recipient's email is required.</small
              >
            </div>
            <br />
            <!-- Cc FormArray -->
            <div class="cc">
              <label for="ccEmail"><b>Cc:</b> </label>
              <textarea
                id="cc"
                formControlName="cc"
                placeholder="Enter CC email"
                title="cc Email"
                rows="2"
              ></textarea>
              <small
                *ngIf="
                  emailForm.get('cc')?.invalid && emailForm.get('cc')?.touched
                "
                >*The Carbon copy email is required.</small
              >
            </div>
          </div>
          <br />
          <div class="subject">
            <label for="subject"><b>Subject:</b></label>
            <textarea
              id="subject"
              formControlName="subject"
              placeholder="Enter email subject"
              title="Subject"
              rows="3"
            ></textarea>
            <small
              *ngIf="
                emailForm.get('subject')?.invalid &&
                emailForm.get('subject')?.touched
              "
              >*The Subject is required.</small
            >
          </div>
          <br />
          <div class="mIntro">
            <label for="mIntro"><b>Message:</b></label>
            <input
              id="mIntro"
              formControlName="mIntro"
              type="text"
              placeholder="Enter message introduction"
              title="Message Introduction"
            />
            <small
              *ngIf="
                emailForm.get('mIntro')?.invalid &&
                emailForm.get('mIntro')?.touched
              "
              >*The introductory message is required.</small
            >
          </div>
          <br />
          <div>
            <table>
              <!--<thead>
                <tr>
                  <th>ATM LOCATION</th>
                  <th>BRANCH IN CHARGE</th>
                  <th>VENDOR</th>
                  <th>ISSUE(S)</th>
                  <th>BRANCH CONTACT</th>
                  <th>CONTACT PHONE NUMBER</th>
                  <th>DATE LOGGED</th>
                </tr>
              </thead>-->
              <tbody>
                <tr formGroupName="message">
                  <td class="atmLocation">
                    <label for="atmLocation"><b>ATM LOCATION</b></label>
                    <input
                      id="atmLocation"
                      formControlName="atmLocation"
                      type="text"
                      placeholder="Enter the ATM's location"
                      title="ATM Location"
                    />
                    <small
                      *ngIf="
                        emailForm.get('atmLocation')?.invalid &&
                        emailForm.get('atmLocation')?.touched
                      "
                      >*The location of the ATM is required.</small
                    >
                  </td>
                  <td class="branchName">
                    <label for="branchName"><b>BRANCH IN CHARGE</b></label>
                    <input
                      id="branchName"
                      formControlName="branchName"
                      type="text"
                      placeholder="Enter the branch name for the ATM"
                      title="Branch Name"
                    />
                    <small
                      *ngIf="
                        emailForm.get('atmLocation')?.invalid &&
                        emailForm.get('atmLocation')?.touched
                      "
                      >*The ATM location is required.</small
                    >
                  </td>
                  <td class="vendorName">
                    <label for="vendorName"><b>VENDOR</b></label>
                    <input
                      id="vendorName"
                      formControlName="vendorName"
                      type="text"
                      placeholder="Enter the ATM's location"
                      title="Vendor Name"
                    />
                    <small
                      *ngIf="
                        emailForm.get('vendorName')?.invalid &&
                        emailForm.get('vendorName')?.touched
                      "
                      >*The Vendor's name is required.</small
                    >
                  </td>
                  <td class="issueDesc">
                    <label for="issueDesc"><b>ISSUE(S)</b></label>
                    <input
                      id="issueDesc"
                      formControlName="issueDesc"
                      type="text"
                      placeholder="Enter the ATM's location"
                      title="ATM Location"
                    />
                    <small
                      *ngIf="
                        emailForm.get('atmLocation')?.invalid &&
                        emailForm.get('atmLocation')?.touched
                      "
                      >*The details of the issue(s) the ATM has is required.</small
                    >
                  </td>
                  <td class="branchName">
                    <label for="branchName"><b>BRANCH CONTACT</b></label>
                    <input
                      id="branchName"
                      formControlName="branchName"
                      type="text"
                      placeholder="Enter the ATM's location"
                      title="ATM Location"
                    />
                    <small
                      *ngIf="
                        emailForm.get('branchName')?.invalid &&
                        emailForm.get('branchName')?.touched
                      "
                      >*The personnel the vendor has to work with is required.</small
                    >
                  </td>
                  <td class="loggerPhone">
                    <label for="loggerPhone"><b>CONTACT PHONE NUMBER</b></label>
                    <input
                      id="loggerPhone"
                      formControlName="loggerPhone"
                      type="text"
                      placeholder="Enter the ATM's location"
                      title="ATM Location"
                    />
                    <small
                      *ngIf="
                        emailForm.get('loggerPhone')?.invalid &&
                        emailForm.get('loggerPhone')?.touched
                      "
                      >*The personnel's phone number is required.</small
                    >
                  </td>
                  <td class="dateLogged">
                    <label for="dateLogged"><b>DATE LOGGED</b></label>
                    <input
                      id="dateLogged"
                      formControlName="dateLogged"
                      type="text"
                      placeholder="Enter the ATM's location"
                      title="ATM Location"
                    />
                    <small
                      *ngIf="
                        emailForm.get('dateLogged')?.invalid &&
                        emailForm.get('dateLogged')?.touched
                      "
                      >*The date this incident is logged is required.</small
                    >
                  </td>
                </tr>
              </tbody>
            </table>
            <br />
            <input
              id="mEnd"
              formControlName="mEnd"
              type="text"
              placeholder="Enter message end"
              title="Message End"
            />
            <small
              *ngIf="
                emailForm.get('mEnd')?.invalid && emailForm.get('mEnd')?.touched
              "
              >*The message ending is required.</small
            >
          </div>
          <br />
          <div class="display">
            <button
              [disabled]="emailForm.invalid || isClicked"
              type="submit"
              class="btn btn-success pull-left"
            >
              <i class="fa fa-envelope-o"></i>
              <span>Send Email</span>
            </button>
            <button class="btn btn-danger pull-right" routerLink="/issue-log">
              Re-log issue
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
