.return-link {
  color: blue; /* Custom hex blue or use standard 'blue' */
  text-decoration: none;
  font-size: 1.5rem; /* Matches default <h3> size */
  font-weight: 500; /* Matches <h3> font weight */
  line-height: 1.0; /* Heading line height */
  text-decoration: none; /* Removes link underline */
  display: inline-block; /* Ensures layout spacing applies properly */
}

.return-link:hover {
  color: rgb(66, 0, 128); /* Darker blue on hover */
}

/*table,
th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
}
*/
