<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title> Backend Module</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <div>
        <p>
            Click <a routerLink="/db-display" class="nav-link"><b>here</b></a> to see current information.
        </p>
        <p>
            Click <a routerLink="/db-insert" class="nav-link"><b>here</b></a> to add information.
        </p>
        <p>
            Click <a routerLink="/db-update" class="nav-link"><b>here</b></a> to update information.
        </p>
    </div>
</body>

</html>