<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Backend Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <p>
            <a routerLink="/insert-branch">Insert a new branch.</a>
        </p>
        <p>
            <a routerLink="/insert-contact">Insert a new vendor personnel.</a>
        </p>
        <p>
            <a routerLink="/insert-region">Insert a new region.</a>
        </p>
        <p>
            <a routerLink="/insert-terminal">Insert a new terminal.</a>
        </p>
        <p>
            <a routerLink="/insert-vendor">Insert a new vendor.</a>
        </p>
    </div>
</body>

</html>