<div>
  <h3>Welcome {{ getName() }} to the ATM Issue Logger</h3>
  <div *ngIf="authService.hasRole('LOG_ISSUE')">
    <p>
      Click <a routerLink="/issue-log" class="nav-link"><b>here</b></a> to log
      an ATM issue.
    </p>
  </div>
  <div *ngIf="authService.hasAnyRole(['DISPLAY','INSERT','UPDATE'])">
    <p>
      Click <a routerLink="/database" class="nav-link"><b>here</b></a> to see
      this application's backend.
    </p>
  </div>
  <div *ngIf="authService.hasRole('LOGGED_CALLS')">
    Click <a routerLink="/logged-call" class="nav-link"><b>here</b></a> to see
    all previously logged calls.
  </div>
</div>
