<div>
  <p>
    <a routerLink="/database">Return</a>
  </p>
</div>
<div class="container-fluid">
  <p>
    <a routerLink="/update-branch">Update branches.</a>
  </p>
  <p>
    <a routerLink="/update-fault">Update an ATM fault.</a>
  </p>
  <p>
    <a routerLink="/update-contact">Update a vendor personnel.</a>
  </p>
  <p>
    <a routerLink="/update-region">Update regions.</a>
  </p>
  <p>
    <a routerLink="/update-terminal">Update terminals.</a>
  </p>
  <p>
    <a routerLink="/update-vendor">Update vendors.</a>
  </p>
</div>
