<div class="container-fluid">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form [formGroup]="issueForm" (ngSubmit)="submitLoggedIssue()" class="issueLogged-form">
        <!-- Terminal ID -->
        <div class="form-group">
          <label for="terminalId">Terminal ID</label>
          <input
            type="text"
            id="terminalId"
            [class.is-invalid]="terminalIdControl.invalid && terminalIdControl.touched"
            class="form-control"
            formControlName="terminalId"
            placeholder="Enter Terminal ID"
          />
          <!-- Input validation for terminal ID attribute-->
          <div *ngIf="terminalIdControl.errors && terminalIdControl.touched">
            <!-- Validation errors-->
            <small class="text-danger" *ngIf="terminalIdControl.errors?.['required']"
              >The terminal ID is a required field.</small
            >
            <small class="text-danger" *ngIf="terminalIdControl.errors?.['minlength']"
              >The terminal ID entered must be at least 8 characters.</small
            >
            <small class="text-danger" *ngIf="terminalIdControl.errors?.['maxlength']"
              >The terminal ID entered must be at most 8 characters.</small
            >
          </div>
        </div>
        
        <!-- Issue Description -->
        <div class="form-group">
          <label for="issueDesc">Issue Description</label>
          <input
            type="text"
            id="issueDesc"
            [class.is-invalid]="issueDescControl.invalid && issueDescControl.touched"
            class="form-control"
            formControlName="issueDesc"
            placeholder="Describe the issue"
          />
          <!-- Input validation for issue description attribute-->
          <div *ngIf="issueDescControl.errors && issueDescControl.touched">
            <!-- Validation errors-->
            <small class="text-danger" *ngIf="issueDescControl.errors?.['required']"
              >The issue description is a required field.</small
            >
            <small class="text-danger" *ngIf="issueDescControl.errors?.['minlength']"
              >The issue description entered must be at least 10
              characters.</small
            >
          </div>
        </div>
        
        <!-- Branch Logger -->
        <div class="form-group">
          <label for="branchLogger">Branch Logger</label>
          <input
            type="text"
            id="branchLogger"
            [class.is-invalid]="branchLoggerControl.invalid && branchLoggerControl.touched"
            class="form-control"
            formControlName="branchLogger"
            placeholder="Who logged the issue for this ATM?"
          />
          <!-- Input validation for branch logger attribute-->
          <div *ngIf="branchLoggerControl.errors && branchLoggerControl.touched">
            <!-- Validation errors-->
            <small class="text-danger" *ngIf="branchLoggerControl.errors?.['required']"
              >The branch logger is a required field.</small
            >
          </div>
        </div>
        
        <!-- Logger Email -->
        <div class="form-group">
          <label for="loggerEmail">Logger Email</label>
          <input
            type="text"
            id="loggerEmail"
            [class.is-invalid]="loggerEmailControl.invalid && loggerEmailControl.touched"
            class="form-control"
            formControlName="loggerEmail"
            placeholder="Enter the email for the logger"
          />
          <!-- Input validation for logger email attribute-->
          <div *ngIf="loggerEmailControl.errors && loggerEmailControl.touched">
            <!-- Validation errors-->
            <small class="text-danger" *ngIf="loggerEmailControl.errors?.['required']"
              >The email for the logger is a required field.</small
            >
            <small class="text-danger" *ngIf="loggerEmailControl.errors?.['email']"
              >The email entered is invalid.</small
            >
          </div>
        </div>
        
        <!-- Logger PhoneNo -->
        <div class="form-group">
          <label for="loggerPhoneNo">Logger PhoneNo</label>
          <input
            type="text"
            id="loggerPhoneNo"
            [class.is-invalid]="loggerPhoneNoControl.invalid && loggerPhoneNoControl.touched"
            class="form-control"
            formControlName="loggerPhoneNo"
            placeholder="Enter the logger's phone number"
          />
          <!-- Input validation for logger phone number attribute-->
          <div *ngIf="loggerPhoneNoControl.errors && loggerPhoneNoControl.touched">
            <!-- Validation errors-->
            <small class="text-danger" *ngIf="loggerPhoneNoControl.errors?.['required']"
              >The logger's phone number is a required field.</small
            >
            <small class="text-danger" *ngIf="loggerPhoneNoControl.errors?.['minlength']"
              >The phone number entered must be at least 11 characters.</small
            >
            <small class="text-danger" *ngIf="loggerPhoneNoControl.errors?.['maxlength']"
              >The phone number entered must be at most 14 characters.</small
            >
          </div>
        </div>

        <button
          [disabled]="issueForm.invalid || isClicked"
          type="submit"
          class="btn btn-success pull-right"
        >
          <i class="fa fa-envelope-o"></i>
          <span> Log this issue</span>
        </button>
      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>